In [2]:
import pandas as pd
import numpy as np

In [16]:
data = pd.read_csv('data/Dataset_DeConinck_R.csv', encoding='latin-1')

In [17]:
data.head()

,cntry,ans_id,V001,V002,V002bea,V002beb,V002at,V002de,V002es,V002it,...,V058_5,V058_6,V058_7,V058_8,V058_9,V058_10,V059,Leeftijd3N,Diploma2,Weging
0,4,100,2,62,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,1.400395
1,4,233,2,43,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0.720534
2,4,373,2,34,NaN,NaN,NaN,NaN,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0.716512
3,4,405,2,53,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,1.374635
4,4,462,1,40,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0.689156

In [18]:
data = data.rename(columns = {'cntry' : 'Country',
                              'V001' : 'Gender',
                              'V002' : 'Age',
                              'V003' : 'MaritalSt',
                              'V013' : 'PoliAff',
                              'V021' : 'Religion',
                              'V046' : 'FeelingRefugees'})

In [19]:
data.head()

,Country,ans_id,Gender,Age,V002bea,V002beb,V002at,V002de,V002es,V002it,...,V058_5,V058_6,V058_7,V058_8,V058_9,V058_10,V059,Leeftijd3N,Diploma2,Weging
0,4,100,2,62,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,1.400395
1,4,233,2,43,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0.720534
2,4,373,2,34,NaN,NaN,NaN,NaN,17.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,2,0.716512
3,4,405,2,53,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,1.374635
4,4,462,1,40,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,2,0.689156

V041_1 = anger
V041_2 = fear
V041_5 = disgust

V041_3 = hope
V041_4 = sympathy
V041_6 = happiness

Negative_Sentiment = average or sum of (V041_1, V041_2, V041_5)

Positive_Sentiment = average or sum of (V041_3, V041_4, V041_6)

For binary label take whichever sentiment is higher 

We need to pick what vars we care about

Can we keep ordinal vars? Just need to make sure they're following the same tred (ex. "worst" to "best")

One-hot encoding for vars without ranking